.App {
  text-align: center;
  background-color: #282c34;
  min-height: 110vh;
}



.App-header {
  
  height: 10vh;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background-color: black;
  color: white;
  /* font-size: 20px; */
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.button:disabled {
  color: grey;
    opacity: 0.7;
    cursor: default;
}
.button-player {
  background-color: rgb(61, 55, 55);
  color: white;
  width: 70px;
  padding: 10px 10px;
  
  border-radius: 15px;
  margin: 10px 15px;
  cursor: pointer;
}
.button-player:disabled {
  color: rgb(180, 178, 178);
    opacity: 0.7;
    cursor: default;
}
.error-alert{
  color: red;
}